.card-border {
  display: flex;
  background-image: url("https://www.pngkit.com/png/full/349-3492944_baseball-card-2016-baseball-card-template.png");
  flex-direction: column;
  width: 300px;
  height: 380px;
  background-size: contain;
  padding-top: 90px;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
  justify-content: flex-start;
  margin: 0 auto;
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 30px; */
  justify-content: flex-start;
  /* border: 1px red solid; */
  height: 90%;
}

/* img:first-of-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  font-size: 20px;
} */

.card-content p{
 padding: 0;
 margin: 0 0 27px 0;
}
.team-logo {
  justify-content: flex-start;
  /* position: relative; */
  width: 90px;
  /* padding-left: 30px; */
  
 
}
/* 
.stature {
  justify-content: baseline;
  
}

.weight {
  justify-content: flex-start;
} */

.card-border h5 {
  /* position: absolute; */
  /* bottom: 61px; */
}

.nav {
  columns: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: inherit;
  border: black;
}

.nav button {
  padding: 10px;
  font-size: 20px;
  margin-right: 10px;
}

.players {
  display: flex;
  background-color: grey;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 90vh;
  
}

.list p {
  font-size: 56px;
  font-family: 'Times New Roman', Times, serif;

}
.players a {
  color: white;
  text-decoration: none;
  padding: 10px 30px;
}

.players a:hover {
  border-bottom: 8px solid white;
}


.list a {
  color: white;
}
.heading-wrapper {
  position: relative;
  /* left: 40px; */
  display: flex;
  justify-content: center;
  flex: 1;
}
.p1 {
  font-style: normal;
  text-align: center;
  /* border: 1px solid red; */
  width: 100%;
  
}

.nav-button {
  position: absolute;
  right: 0%;
  top: 25px;
}

