.card-border {
  display: flex;
  background-image: url("https://www.pngkit.com/png/full/349-3492944_baseball-card-2016-baseball-card-template.png");
  flex-direction: column;
  width: 300px;
  height: 380px;
  background-size: contain;
  padding-top: 80px;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 300px;
}

.card-border p {
  margin-top: 5px;
  margin-bottom: 15px;

}

p:first-of-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
  font-size: 20px;
}


.team-logo {
  justify-content: flex-start;
  /* position: relative; */
  width: 90px;
  padding-left: 30px;
  
 
}

.stature {
  justify-content: baseline;
  
}

.weight {
  justify-content: flex-start;
}

.card-border h5 {
  position: absolute;
  bottom: 61px;
}

.nav {
  columns: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: inherit;
  border: black;
}

.nav button {
  padding: 10px;
  font-size: 20px;
  margin-right: 10px;
}

.players {
  display: flex;
  background-color: grey;
  flex-direction: row;
  
}

.list {
  margin-left: 330px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.app {
  /* display: flex; */
  /* background-color: grey; */
  font-style: normal;
 /* flex-direction: column-rev; */
}

.p1 {
  font-style: normal;
  margin-left: 400px;
  
}

